<% @posts.each do |post| %>

  <div>
    <p id="messageBox"><%= post.message %></p>
  </div>

  <p><%= post.created_at.strftime("%m-%e-%y %H:%M") %></p>
  <p><%= button_to 'Like',action: 'create', controller: 'likes', post_id: post.id %></p>


<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
