<% @posts.each do |post| %>

  <div>
    <p id="messageBox"><%= post.message %></p> 
  </div>

  <p><%= post.created_at.strftime("%m-%e-%y %H:%M") %></p>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
